antiorm==1.2.1
astroid==2.5.1
attrs==20.3.0
certifi==2020.12.5
chardet==4.0.0
db==0.1.1
db-sqlite3==0.0.1
flake8==3.8.4
idna==2.10
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
packaging==20.9
Pillow==8.1.2
pluggy==0.13.1
py==1.10.0
pyaudio==0.2.11
pycodestyle==2.6.0
pyflakes==2.2.0
pylint==2.7.2
pyparsing==2.4.7
pytest==6.2.2
SpeechRecognition==3.8.1
requests==2.25.1
rope==0.18.0
tkinterweb==2.1.8
toml==0.10.2
urllib3==1.26.3
wrapt==1.12.1
